@model Doan_Web_CK.Models.Blog
@using Microsoft.AspNetCore.Identity
@using System.Net
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Edit";
    var user = ViewBag.User;
}
<h1 class="mt-2">Edit</h1>
<hr />
<div class="row">
    <div class="col-lg-12 mx-auto">
        <form onsubmit="editblog()" id="edit_form" class="d-flex flex-column gap-3" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="input-group">
                <span class="input-group-text" id="title-addon">Title</span>
                <input asp-for="Id" type="text" class="form-control" placeholder="Id" aria-label="Id" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="input-group">
                <span class="input-group-text" id="title-addon">Title</span>
                <input asp-for="Title" type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="title-addon" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="input-group">
                <span class="input-group-text" id="description-addon">Description</span>
                <input style="height: 70px" type="text" placeholder="Description" aria-label="Description" aria-describedby="description-addon" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="input-group">
                <span class="input-group-text" id="Content-addon">Content</span>
                <textarea style="height: 200px" aria-label="Content" aria-describedby="Content-addon" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="input-group">
                <input type="file" accept="image/*" asp-for="BlogImageUrl" class="form-control w-100" />
                <span asp-validation-for="BlogImageUrl" class="text-danger mt-1"></span>
            </div>
            <div class="input-group">
                <label for="categorySelect" asp-for="CategoryId" class="input-group-text">Category</label>
                <select id="categorySelect" asp-for="CategoryId" class="form-select" asp-items="@ViewBag.Categories"></select>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-outline-light w-100">Update</button>
            </div>
        </form>
        <div id="update_success" class="p-4 text-white text-success bg-success rounded-3 mt-4">
            Update Success
        </div>

        <div id="update_fail" class="p-4 text-white text-danger bg-danger rounded-3 mt-4">
            Update Failed
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
@section NavContent {
    <ul class="d-flex flex-column list-unstyled text-white gap-3 my-2 mx-2 navItems">
        <div class="nav_item">
            <div class="logo_container d-flex gap-2 w-100 justify-content-center">
                <div class="logo_image_container">
                    <img src="/images/logo_2.png" class="logo_image" />
                </div>
                <h2 style="font-family: fantasy" class="navTitle m-auto">WebCommun</h2>
            </div>
        </div>
        <a asp-controller="Blog" asp-action="Index" class="nav_item">
            <div class="navIcon text-center">
                <i class="icon bi bi-house-door-fill"></i>
            </div>
            <div class="navTitle w-75 fs-4 text-start my-auto">
                Blogs
            </div>
        </a>
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-action="Index" asp-controller="Friend" id="navFriends" class="nav_item">
                <div class="navIcon text-center">
                    <i class="icon bi bi-people-fill"></i>
                </div>
                <div class="navTitle w-75 fs-4 text-start my-auto">
                    Friends
                </div>
            </a>

            <div class="position-relative">
                <div id="nof_icon_container">
                    <a asp-action="Nofitications" asp-controller="Blog" id="navNofitication" class="nof_icon text-center">
                        <i class="navIcon icon bi bi-bell-fill"></i>
                        <p class="navTitle w-75 fs-4 text-start my-auto">Nofitications</p>
                    </a>
                </div>
                <div id="nav_item_nofitications" class="hidden nav_item_nofitications position-absolute">

                    <div class="d-flex justify-content-between">
                        <strong>Nofitication</strong>
                        <a class="reload_icon" onclick="reloadAllNof('@user?.Id')">
                            <i class="bi bi-arrow-clockwise"></i>
                        </a>
                    </div>

                    <div id="nav_item_nofitications_container" class="nav_item_nofitications_container">
                        @if (ViewBag.GetAllNofOfUser(user?.Id) != null)
                        {
                            @foreach (var nof in ViewBag.GetAllNofOfUser(user?.Id))
                            {
                                switch (nof.Type)
                                {
                                    case "Addfriend":
                                        if (ViewBag.IsRequested(nof.SenderAccountId, nof.RecieveAccountId) == true)
                                        {
                                            <div class="nofi_card">
                                                <div class="nofi_card_content">
                                                    <a asp-action="Index" asp-controller="Profile" asp-route-id="@nof.SenderAccountId">@ViewBag.GetUserName(nof.SenderAccountId)</a> @nof.Content
                                                    <span class="nofi_card_date">@nof.Date</span>
                                                    <div id="nofi_card_actions_@nof.Id" class="nofi_card_actions">
                                                        <a onclick="handleAccept('@user?.Id', @nof.Id)" class="btn btn-outline-dark">Accept</a>
                                                        <a onclick="handleDeny('@user?.Id', @nof.Id)" class="btn btn-outline-dark">Deny</a>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a onclick="handleDeleteNofitication(@nof.Id)">
                                                        <i class="close_icon bi bi-x"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }

                                        break;
                                    case "Comment":
                                        <div class="nofi_card">
                                            <p class="nofi_card_content">
                                                <a asp-action="Index" asp-controller="Profile" asp-route-id="@nof.SenderAccountId">@ViewBag.GetUserName(nof.SenderAccountId)</a> @nof.Content <a asp-route-id="@nof.BlogId" asp-action="Details" asp-controller="Blog">Link to blog</a>
                                                <span class="nofi_card_date">@nof.Date</span>
                                            </p>
                                            <div>
                                                <a onclick="handleDeleteNofitication(@nof.Id)">
                                                    <i class="close_icon bi bi-x"></i>
                                                </a>
                                            </div>
                                        </div>
                                        break;
                                    case "Like":
                                        <div class="nofi_card">
                                            <p class="nofi_card_content">
                                                <a asp-action="Index" asp-controller="Profile" asp-route-id="@nof.SenderAccountId">@ViewBag.GetUserName(nof.SenderAccountId)</a> @nof.Content <a asp-route-id="@nof.BlogId" asp-action="Details" asp-controller="Blog">Link to blog</a>
                                                <span class="nofi_card_date">@nof.Date</span>
                                            </p>
                                            <div>
                                                <a onclick="handleDeleteNofitication(@nof.Id)">
                                                    <i class="close_icon bi bi-x"></i>
                                                </a>
                                            </div>
                                        </div>
                                        break;
                                    default:

                                        break;
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        }
        <a asp-controller="Profile" asp-action="Index" class="nav_item">
            @* <a asp-controller="Profile" asp-route-id="@UserManager.GetUserId(User)" asp-action="Index" class="nav_item"> *@
            <div class="navIcon text-center">
                <i class="icon bi bi-person-circle"></i>
            </div>
            <div class="navTitle w-75 fs-4 text-start my-auto">
                Profile
            </div>
        </a>
    </ul>
}

