@model  Doan_Web_CK.Models.Blog
@using System.Net
@using Microsoft.AspNetCore.Identity
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Request Blogs";
    var blogList = ViewBag.BlogList;
    var currentUser = ViewBag?.CurrentUser;
    var MyBlogs = ViewBag?.MyBlogs;
}
<div class="d-flex gap-4">
    <div class="body_container" style="width: 75%">
        <h1>Blogs</h1>
        @if ( currentUser != null )
        {
            <div class="mt-3 d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column gap-2"> 
                    <div class="input_add" style="width: 210px">
                        <input class="form-control w-50 text-white w-100" placeholder="Share your blog now..." style="background-color: #282b2d" data-bs-toggle="modal" data-bs-target="#exampleModal" />
                    </div>
                    @* <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-light">Create new blog</button> *@
                    <div id="filter_modal" class="filter_modal p-3 rounded-3 hidden" style="background-color: #282b2d; flex-direction: column;">
                        <h3>Filter</h3>
                        <form asp-action="Search" method="post">
                            <div class="input-group">
                                <input type="text" name="blog_title" id="searchInput" class="form-control" placeholder="Search your blog title..." />
                                <input style="color: #989292;" name="blog_date" class="form-control" type="date" />
                            </div>
                    
                            <div class="input-group mt-2">
                                <label for="cate_filter"  class="input-group-text">Category</label>
                                <select name="cate_filter" id="cate_filter" class="form-select" asp-items="@ViewBag.Categories"></select>
                            </div>
                    
                            <div class="form-check form-switch mt-2 d-flex align-items-center justify-content-between">
                                <div class="d-flex gap-2">
                                    <input name="blog_newest" class="form-check-input" type="checkbox" id="newestBlogCb">
                                    <label class="form-check-label" for="newestBlogCb">Newest Blog</label>
                                </div>
                                <button class="btn btn-outline-light">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <a onclick="handleToggleFilter()" class="text-white" href="#">
                    <i class="bi bi-filter" style="font-size: 32px"></i>
                </a>
            </div>
        }
        @* Modal *@
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div style="max-width: 600px;" class="modal-dialog">
                <div style="background-color: #212529;" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create new Blog</h5>
                        <a type="button" style="background-color: transparent;" data-bs-dismiss="modal" aria-label="Close">
                            <i class="bi bi-x-lg text-white fs-5    "></i>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form class="d-flex flex-column gap-3" asp-action="Add" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="input-group">
                                <span class="input-group-text" id="title-addon">Title</span>
                                <input asp-for="Title" type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="title-addon" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text" id="description-addon">Description</span>
                                <input style="height: 70px" type="text" placeholder="Description" aria-label="Description" aria-describedby="description-addon" asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text" id="Content-addon">Content</span>
                                <textarea style="height: 200px" aria-label="Content" aria-describedby="Content-addon" asp-for="Content" class="form-control"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <input type="file" accept="image/*" asp-for="BlogImageUrl" class="form-control" />
                                <span asp-validation-for="BlogImageUrl" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <label for="categorySelect" asp-for="CategoryId" class="input-group-text">Category</label>
                                <select id="categorySelect" asp-for="CategoryId" class="form-select" asp-items="@ViewBag.Categories"></select>
                            </div>
                            <div class="form-group mt-4">
                                <button type="submit" class="btn btn-outline-light w-100">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog_container">
            @if (blogList.Count != 0 )
            {
                @foreach (var item in blogList)
                {
                    <div class="blog_card">
                        <div class="blog_userInfo">
                            <div class="blog_img_date">
                                <div class="d-flex align-items-end">
                                    <!-- Start Section rightclick-->
                                    <div oncontextmenu="handleRightClick(@item.Id)" id="blog_card_author_img_@item.Id" class="blog_card_author_img">
                                        <a asp-action="Index" asp-controller="Profile" asp-route-id="@item.AccountId">
                                            <img src="@(ViewBag.GetPhotoById(item.AccountId))"
                                                 class="w-100 h-100 photo_image_border"
                                                 style="border-radius: 100%; object-fit: cover;"
                                                alt="user_profile image"
                                            />
                                        </a>
                                        @if (SignInManager.IsSignedIn(User) )
                                        {
                                                <div id="right_click_menu_@item.Id" class="right_click_menu hidden">
                                                    <div id="right_click_menu_container_@item.Id" class="d-flex gap-2 flex-column">
                                                        <a asp-action="Index" asp-controller="Profile" asp-route-id="@item.AccountId" class="btn btn-dark">View Profile</a>
                                                        @if ( UserManager.GetUserId(User) != item.AccountId)
                                                        {
                                                            if (ViewBag.HasRelation(UserManager.GetUserId(User), item.AccountId))
                                                            {
                                                                @if (ViewBag.IsRequested(UserManager.GetUserId(User), item.AccountId) == true)
                                                                {
                                                                    <a onclick=" handleAddFriend(' @item.AccountId', @item.Id) " class="btn btn-dark disabled">Requested</a>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <a onclick=" handleAddFriend(' @item.AccountId', @item.Id) " class="btn btn-dark">Add Friend</a>
                                                            }
                                                        }    
                                                    </div>

                                                    <form hidden id="form_add_friend_@item.Id">
                                                        <input value="@UserManager.GetUserId(User)" type="text" name="form_add_friend_userid"/>
                                                        <input value="@item.AccountId" type="text" name="form_add_friend_friendid" />
                                                    </form>
                                                </div>
                                        }
                                    </div>
                                    <!-- End Section rightclick-->
                                    <a class="text-decoration-none" asp-action="Index" asp-controller="Profile" asp-route-id="@item.AccountId">
                                        <p class="blog_username mb-0 fw-bold">@(ViewBag.GetUserName(item.AccountId))</p>
                                    </a>
                                </div>
                                @if ( item.ReferenceId == null )
                                {
                                    <p class="mt-2">
                                        Publish at: @item.PublishDate.ToShortDateString()
                                    </p>
                                } else
                                {
                                    <p class="mt-2">
                                        Shared <a asp-action="Details" asp-controller="Blog" asp-route-id="@item.ReferenceId" class="text-white">@ViewBag.GetUserNameByBlogId(item.ReferenceId)</a>'s post - @item.PublishDate.ToShortDateString()
                                    </p>
                                }
                            </div>

                            @if (currentUser?.Id == item.AccountId)
                            {
                                <div style="position: relative;">
                                    <a class="text-white" href="#" onclick="handleToggle(@item.Id)">
                                        <i style="font-size: 32px;" class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <div id="@item.Id" class="hidden actions_ud" style="top:-10px; right: 20px; position: absolute; background-color: #282b2d; padding: 16px; border-radius: 12px 12px 0 0;" aria-hidden="true">
                                        <a asp-controller="Blog" asp-route-id="@item.Id" asp-action="Edit" class="btn btn-outline-light">Edit</a>
                                        <a class="btn btn-outline-light">Delete</a>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="heading">
                            <div class="d-flex justify-content-between">
                                <h1 style="max-width: 80%">@item.Title</h1>
                            </div>
                            <p class="mt-4">@item.Description</p>
                        </div>

                        <div class="BlogCard_Img">
                            <img src="@item.BlogImageUrl" />
                        </div>

                        <div id="content_@item.Id" class="Blogcard_Content mt-4 temp_hidden">
                            <p>@Html.Raw(item.Content.Replace("\n", "<br>"))</p>
                        </div>

                        <div class="toggle_more justify-content-center d-flex">
                            <a onclick="handleToggleMore(@item.Id)">
                                <i id="toggle_icon_@item.Id" class="icon_up_down bi bi-arrow-down-circle text-white" style="font-size: 24px;"></i>
                            </a>
                        </div>

                        <div class="blog_actions mt-2 d-flex flex-column">
                            <div class="d-flex justify-content-around">

                                <!-- Start Section likes action-->
                                <div class="action_container">
                                        @if ( ViewBag.IsCurrentUserLiked(item.Id, currentUser?.Id) == true )
                                        {
                                            <a onclick="handleUnLike(@item.Id)" id="action_like_@item.Id" href="#" class="actions_item">
                                                <p>Like</p>
                                                <i style="color: #c66b6b;" id="like_icon_@item.Id" class="bi bi-heart-fill"></i>
                                            </a>
                                            <p class="badge bg-secondary text-center">@ViewBag.GetBlogLikesCount(item.Id)</p>
                                        } else
                                        {
                                            <a onclick="handleLike(@item.Id)" id="action_like_@item.Id" href="#" class="actions_item">
                                                <p>Like</p>
                                                <i style="color: #c66b6b;" id="like_icon_@item.Id" class="bi bi-heart"></i>
                                            </a>
                                            <p class="badge bg-secondary text-center">@ViewBag.GetBlogLikesCount(item.Id)</p>
                                        }
                                    <form id="like_form_@item.Id" hidden method="post">
                                        <input type="text" value="@currentUser?.Id" name="like_accountId" />
                                        <input type="number" value="@item.Id" name="like_blogId" />
                                    </form>
                                </div>
                                <!-- End Section likes action-->

                                <div class="action_container">
                                    <label for="form_input_comment_@item.Id" class="actions_item">
                                        <p>Comment</p>
                                        <i class="bi bi-chat"></i>
                                        <p class="badge bg-secondary text-center">@ViewBag.GetBlogCommentsCount(item.Id)</p>
                                    </label>
                                </div>


                                <!-- Start Section share action-->
                                @if ( currentUser?.Id != item.AccountId )
                                {
                                    <div class="action_container position-relative">
                                        <a onclick="handleToggleShareActions(@item.Id)" href="#" class="actions_item">
                                            <p>Share</p>
                                            <i class="bi bi-share"></i>
                                        </a>
                                        <div id="share_actions_@item.Id" class="share_actions hidden position-absolute">
                                            <a onclick="handleShareBlog(@item.Id)" class="btn btn-outline-light" href="#">Share blog</a>
                                        </div>

                                        <form id="share_form_@item.Id" hidden method="post" enctype="multipart/form-data">
                                            <input value="@item.Id" type="number" name="share_blog_refId" />
                                            <input value="@currentUser?.Id" type="text" name="share_blog_accountId" />
                                            <input value="@item.Title" type="text" name="share_blog_title" />
                                            <input value="@item.Description" type="text" name="share_blog_desc" />
                                            <textarea type="text" name="share_blog_content">@item.Content</textarea>
                                            <input type="text" value="@item.BlogImageUrl" name="share_blog_imageUrl" />
                                            <select name="share_blog_categoryId" itemid="@item.CategoryId" asp-items="@ViewBag.Categories"></select>
                                        </form>
                                    </div>
                                }
                                <!-- End Section share action-->
                            </div>
                        </div>

                        <div>
                            <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark text-white">See More</a>
                        </div>

                        <div class="comment_container">
                            @if ( currentUser != null )
                            {
                                <div class="comment_container_upper">
                                    <div class="user_photo_comment_container">
                                        <img class="user_photo_comment" src="@(ViewBag.GetPhotoById(currentUser.Id))" />
                                    </div>

                                    @* <form id="form_comment_@item.Id" asp-action="AddComment" method="post"> *@
                                    <form id="form_comment_@item.Id" method="post">
                                        <input value="@item.Id" type="number" hidden name="comment_blogid"/>
                                        <input value="@currentUser.Id" type="text" hidden name="comment_accountid"/>
                                        <input id="form_input_comment_@item.Id" onkeypress="handleKeyPress(event, @item.Id)" type="text" name="comment_content" style="background-color: #282b2d" class="form-control text-white" placeholder="Add comment..." />
                                    </form>
                                </div>
                            }
                            @if (ViewBag.GetAllBlogComments(item.Id) != null )
                            {
                                <div id="comment_container_lower_@item.Id" class="comment_container_lower">
                                    @foreach (var comment in ViewBag.GetAllBlogComments(item.Id))
                                    {
                                        <div class="comment_card">
                                            <div class="comment_card_img_container">
                                                <img src="@(ViewBag.GetPhotoById(comment.AccountId))" class="comment_card_img" />
                                            </div>
                                            <div class="comment_card_content">
                                                <p class="fw-bold">@(ViewBag.GetUserName(comment.AccountId)) <span class="comment_card_date">@comment.CommentDate</span> </p>
                                                <p id="p_content_@comment.Id" class="fw-normal">@comment.Content</p>
                                                <form method="post" id="edit_form_cmt_@comment.Id">
                                                    <input type="number" name="edit_cmt_id" hidden value="@comment.Id" />
                                                    <input type="text" name="edit_cmt_accountid" value="@comment.AccountId" hidden />
                                                    <input type="number" name="edit_cmt_blogid" value="@item.Id" hidden />
                                                    <input onkeypress="handleKeyPressInputEditComment(event, @item.Id, @comment.Id)" type="text" name="edit_cmt_content" value="@comment.Content" id="comment_form_@comment.Id" class="text-white hidden comments_inputs p-2" style="border: none;" />
                                                </form>
                                            </div>

                                            <div class="comment_card_actions position-relative">
                                                @if (comment.AccountId == currentUser?.Id)
                                                {
                                                    <a onclick="toggleActionComment(@comment.Id)" href="#" class="text-white">
                                                        <i class="bi bi-three-dots-vertical"></i>
                                                    </a>
                                                }

                                                <div id="comments_actions_@comment.Id" class="comments_actions hidden">
                                                    <a onclick="handleEditToggleComment(@comment.Id)" class="btn btn-outline-light">Edit</a>
                                                    <a class="btn btn-outline-light">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    } 
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <h1>Not Found</h1>
            }
        </div>
    </div>
    <div class="recently_post_container" style="width: 25%">
        @if ( MyBlogs != null ) {
            <h2>Recently Blogs</h2>
            foreach (var blog in MyBlogs )
            {
                <div id="@blog.Id" class="recent_card w-100">
                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id">
                        <p class="fw-bold" style="margin: 4px 0;">@blog.Title</p>
                    </a>
                    <p style="color: #ccc; font-style: italic; margin: 4px 0;">@blog.PublishDate.ToShortDateString()</p>
                    <img src="@blog.BlogImageUrl" style="object-fit: contain; max-width: 100%; border-radius: 12px;" />
                </div>
            }
        }
    </div>
</div>
@section NavContent {
    <ul class="d-flex flex-column list-unstyled text-white gap-3 my-2 mx-2 navItems">
        <div class="nav_item">
            <div class="logo_container d-flex gap-2 w-100 justify-content-center">
                <div class="logo_image_container">
                    <img src="/images/logo_2.png" class="logo_image" />
                </div>
                <h2 style="font-family: fantasy" class="navTitle m-auto">WebCommun</h2>
            </div>
        </div>
        <a asp-controller="Blog" asp-action="Index" class="nav_item">
            <div class="navIcon text-center">
                <i class="icon bi bi-house-door-fill"></i>
            </div>
            <div class="navTitle w-75 fs-4 text-start my-auto">
                Blogs
            </div>
        </a>
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-action="" id="navFriends" class="nav_item">
                <div class="navIcon text-center">
                    <i class="icon bi bi-people-fill"></i>
                </div>
                <div class="navTitle w-75 fs-4 text-start my-auto">
                    Friends
                </div>
            </a>

            <div class="position-relative">
                <div id="nof_icon_container">
                    <a asp-action="Nofitications" asp-controller="Blog" id="navNofitication" class="nof_icon text-center">
                        <i class="navIcon icon bi bi-bell-fill"></i>
                        <p class="navTitle w-75 fs-4 text-start my-auto">Nofitications</p>
                    </a>
                </div>
                <div id="nav_item_nofitications" class="hidden nav_item_nofitications position-absolute">
                    
                    <div class="d-flex justify-content-between">
                        <strong>Nofitication</strong>
                        <a class="reload_icon" onclick="reloadAllNof('@currentUser?.Id')">
                            <i class="bi bi-arrow-clockwise"></i>
                        </a>
                    </div>

                    <div id="nav_item_nofitications_container" class="nav_item_nofitications_container">
                        @if (ViewBag.GetAllNofOfUser(currentUser?.Id) != null)
                        {
                            @foreach (var nof in ViewBag.GetAllNofOfUser(currentUser?.Id))
                            {
                                switch ( nof.Type )
                                {
                                    case "Addfriend":
                                        if (ViewBag.IsRequested(nof.SenderAccountId, nof.RecieveAccountId) == true )
                                        {
                                            <div class="nofi_card">
                                                <p class="nofi_card_content">
                                                    <a asp-action="Index" asp-controller="Profile" asp-route-id="@nof.SenderAccountId">@ViewBag.GetUserName(nof.SenderAccountId)</a> @nof.Content
                                                    <span class="nofi_card_date">@nof.Date</span>
                                                </p>
                                                <div id="nofi_card_actions_@nof.Id" class="nofi_card_actions">
                                                    <a onclick="handleAccept('@currentUser?.Id', @nof.Id)" class="btn btn-outline-dark">Accept</a>
                                                    <a onclick="handleDeny('@currentUser?.Id', @nof.Id)" class="btn btn-outline-dark">Deny</a>
                                                </div>
                                                <div>
                                                    <a onclick="handleDeleteNofitication(@nof.Id)">
                                                        <i class="close_icon bi bi-x"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    
                                        break;
                                    case "Comment" :
                                        <div class="nofi_card">
                                            <p class="nofi_card_content">
                                                <a asp-action="Index" asp-controller="Profile" asp-route-id="@nof.SenderAccountId">@ViewBag.GetUserName(nof.SenderAccountId)</a> @nof.Content <a asp-route-id="@nof.BlogId" asp-action="Details" asp-controller="Blog">Link to blog</a>
                                                <span class="nofi_card_date">@nof.Date</span>
                                            </p>
                                            <div>
                                                <a onclick="handleDeleteNofitication(@nof.Id)">
                                                    <i class="close_icon bi bi-x"></i>
                                                </a>
                                            </div>
                                        </div>
                                        break;
                                    case "Like" :
                                        <div class="nofi_card">
                                            <p class="nofi_card_content">
                                                <a asp-action="Index" asp-controller="Profile" asp-route-id="@nof.SenderAccountId">@ViewBag.GetUserName(nof.SenderAccountId)</a> @nof.Content <a asp-route-id="@nof.BlogId" asp-action="Details" asp-controller="Blog">Link to blog</a>
                                                <span class="nofi_card_date">@nof.Date</span>
                                            </p>
                                            <div>
                                                <a onclick="handleDeleteNofitication(@nof.Id)">
                                                    <i class="close_icon bi bi-x"></i>
                                                </a>
                                            </div>
                                        </div>
                                        break;
                                    default:
                                
                                        break;
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        }
        <a asp-controller="Profile" asp-action="Index" class="nav_item">
            @* <a asp-controller="Profile" asp-route-id="@UserManager.GetUserId(User)" asp-action="Index" class="nav_item"> *@
            <div class="navIcon text-center">
                <i class="icon bi bi-person-circle"></i>
            </div>
            <div class="navTitle w-75 fs-4 text-start my-auto">
                Profile
            </div>
        </a>
    </ul>
}

