@model IEnumerable<Doan_Web_CK.Models.Friendship>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Friends";
    var currentUser = ViewBag.currentUser;
}

<h1>Friends</h1>
<div class="body_container">
    <div class="friends_container">
        @if (currentUser != null)
        {
            if (currentUser.Friendships != null || currentUser.Friendships.Count != 0)
            {
                foreach (var f in Model)
                {
                    if (f.IsConfirmed == true)
                    {
                        <div class="friend_card">
                            <div class="friend_card_img_container">
                                @if (f.UserId == currentUser.Id)
                                {
                                    <img class="friend_card_img" src="@f.Friend?.ImageUrl" />
                                }
                                else
                                {
                                    <img class="friend_card_img" src="@f.User?.ImageUrl" />
                                }
                            </div>

                            <div class="friend_card_info_container">
                                @if (f.UserId == currentUser.Id)
                                {
                                    <a class="friend_card_name" asp-action="Index" asp-controller="Profile" asp-route-id="@f.Friend.Id">@f.Friend.UserName</a>
                                    <p class="friend_card_date">Date created: @f.Friend.DateCreated</p>
                                }
                                else
                                {
                                    <a class="friend_card_name" asp-action="Index" asp-controller="Profile" asp-route-id="@f.User?.Id">@f.User?.UserName</a>
                                    <p class="friend_card_date">Date created: @f.User?.DateCreated</p>
                                }
                                <div id="friend_card_actions_@f.Id" class="friend_card_actions">
                                    @if (f.UserId == currentUser.Id)
                                    {
                                        <a class="btn btn-outline-light" asp-action="Index" asp-controller="Profile" asp-route-id="@f.Friend.Id">View Profile</a>
                                        <a onclick="handleUnFriend('@f.UserId','@f.FriendId', @f.Id)" class="btn btn-outline-light">Unfriend</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-light" asp-action="Index" asp-controller="Profile" asp-route-id="@f.User.Id">View Profile</a>
                                        <a onclick="handleUnFriend('@f.UserId','@f.FriendId', @f.Id)" class="btn btn-outline-light">Unfriend</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="friend_card_status_@f.Id" class="hidden friend_card_status">
                            <div class="friend_card_status_success bg-success">
                                You have Unfrieneded
                            </div>
                            <div class="friend_card_status_failed bg-danger">
                                Something went wrong
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>
</div>
@section NavContent {
    <ul class="d-flex flex-column list-unstyled text-white gap-3 my-2 mx-2 navItems">
        <div class="nav_item">
            <div class="logo_container d-flex gap-2 w-100 justify-content-center">
                <div class="logo_image_container">
                    <img src="/images/logo_2.png" class="logo_image" />
                </div>
                <h2 style="font-family: fantasy" class="navTitle m-auto">WebCommun</h2>
            </div>
        </div>
        <a asp-controller="Blog" asp-action="Index" class="nav_item">
            <div class="navIcon text-center">
                <i class="icon bi bi-house-door-fill"></i>
            </div>
            <div class="navTitle w-75 fs-4 text-start my-auto">
                Blogs
            </div>
        </a>
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-action="Index" asp-controller="Friend" id="navFriends" class="nav_item">
                <div class="navIcon text-center">
                    <i class="icon bi bi-people-fill"></i>
                </div>
                <div class="navTitle w-75 fs-4 text-start my-auto">
                    Friends
                </div>
            </a>

            <div class="position-relative">
                <div id="nof_icon_container">
                    <a asp-action="Nofitications" asp-controller="Blog" id="navNofitication" class="nof_icon text-center">
                        <i class="navIcon icon bi bi-bell-fill"></i>
                        <p class="navTitle w-75 fs-4 text-start my-auto">Nofitications</p>
                    </a>
                </div>
                <div id="nav_item_nofitications" class="hidden nav_item_nofitications position-absolute">

                    <div class="d-flex justify-content-between">
                        <strong>Nofitication</strong>
                        <a class="reload_icon" onclick="reloadAllNof('@currentUser?.Id')">
                            <i class="bi bi-arrow-clockwise"></i>
                        </a>
                    </div>

                    <div id="nav_item_nofitications_container" class="nav_item_nofitications_container">
                        @if (ViewBag.GetAllNofOfUser(currentUser?.Id) != null)
                        {
                            @foreach (var nof in ViewBag.GetAllNofOfUser(currentUser?.Id))
                            {
                                switch (nof.Type)
                                {
                                    case "Addfriend":
                                        if (ViewBag.IsRequested(nof.SenderAccountId, nof.RecieveAccountId) == true)
                                        {
                                            <div class="nofi_card">
                                                <p class="nofi_card_content">
                                                    <a asp-action="Index" asp-controller="Profile" asp-route-id="@nof.SenderAccountId">@ViewBag.GetUserName(nof.SenderAccountId)</a> @nof.Content
                                                    <span class="nofi_card_date">@nof.Date</span>
                                                </p>
                                                <div id="nofi_card_actions_@nof.Id" class="nofi_card_actions">
                                                    <a onclick="handleAccept('@currentUser?.Id', @nof.Id)" class="btn btn-outline-dark">Accept</a>
                                                    <a onclick="handleDeny('@currentUser?.Id', @nof.Id)" class="btn btn-outline-dark">Deny</a>
                                                </div>
                                                <div>
                                                    <a onclick="handleDeleteNofitication(@nof.Id)">
                                                        <i class="close_icon bi bi-x"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }

                                        break;
                                    case "Comment":
                                        <div class="nofi_card">
                                            <p class="nofi_card_content">
                                                <a asp-action="Index" asp-controller="Profile" asp-route-id="@nof.SenderAccountId">@ViewBag.GetUserName(nof.SenderAccountId)</a> @nof.Content <a asp-route-id="@nof.BlogId" asp-action="Details" asp-controller="Blog">Link to blog</a>
                                                <span class="nofi_card_date">@nof.Date</span>
                                            </p>
                                            <div>
                                                <a onclick="handleDeleteNofitication(@nof.Id)">
                                                    <i class="close_icon bi bi-x"></i>
                                                </a>
                                            </div>
                                        </div>
                                        break;
                                    case "Like":
                                        <div class="nofi_card">
                                            <p class="nofi_card_content">
                                                <a asp-action="Index" asp-controller="Profile" asp-route-id="@nof.SenderAccountId">@ViewBag.GetUserName(nof.SenderAccountId)</a> @nof.Content <a asp-route-id="@nof.BlogId" asp-action="Details" asp-controller="Blog">Link to blog</a>
                                                <span class="nofi_card_date">@nof.Date</span>
                                            </p>
                                            <div>
                                                <a onclick="handleDeleteNofitication(@nof.Id)">
                                                    <i class="close_icon bi bi-x"></i>
                                                </a>
                                            </div>
                                        </div>
                                        break;
                                    default:

                                        break;
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        }
        <a href="/Profile" class="nav_item">
            @* <a asp-controller="Profile" asp-route-id="@UserManager.GetUserId(User)" asp-action="Index" class="nav_item"> *@
            <div class="navIcon text-center">
                <i class="icon bi bi-person-circle"></i>
            </div>
            <div class="navTitle w-75 fs-4 text-start my-auto">
                Profile
            </div>
        </a>
    </ul>
}

